* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #fbf3f3;
    margin: 0;
}

.nav {
    background-color: #425182;
    padding: 0px;
    display: flex;
    justify-content: flex-end; /* Move os itens de navegação para a direita */
    align-items: center;
}

.nav .a {
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-right: 70px;
}

.nav .a:hover {
    background-color: #895b9a;
}

.principal {
    color: white;
    margin-right: 450px; /* Move o título "Portifólio LIM" para a esquerda */
}

.text-container {
    display: flex;
    background-color: #e0bbff;
    padding: 48px;
	margin-left: 10px;//
}

.text {
    flex: 1;
    font-size: 18px;
    color: #556098;
    text-align: justify;
    max-width: 600px;
	margin-left: 120px;//
}

.image {
    width: 550px; /* Tamanho da imagem */
    height: 550px;
    margin-left: 100px; /* Espaçamento entre o texto e a imagem */
	margin-top: 5px;
	border: 50px;
	color: white;
}
