* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #fbf3f3;
    margin: 0;
}

header{
    background-color: #425182;
    width: 100%;
    padding: 20px 4%;
    position: sticky;
    top: 0;
    color: white; 
    padding: 20px;
    height: 20px;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    padding: 20px;
    margin: 0 10px; 
}

/* Estilização menu mobile */

.menu-mobile {
    background-color: #425182;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    visibility: hidden;
}

.menu-mobile nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 30px;
    font-size: 16pt;
}

.menu{
    width: 50%;
}

.menu nav a{
    color: #c4c4c4;
    text-decoration: none;
    font-size: 18px;
    padding-right: 30px;
    padding-bottom: 8px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-color: #895b9a;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.menu nav a:hover{
    color: #ffffff;
}
/* Botão Navegação*/

.btn-menu{
    width: 60px;
    height: 60px;
    border: 3px solid white;
    background: transparent;
    cursor: pointer;
    transition: .2s;
    display: none;
}

.linha{
    width: 35px;
    height: 3.5px;
    background-color: white;
    display: block;
    margin: 10px;
    position: relative;
    transform-origin: center;
}

/* home */

.content {
    display: flex;
    height: 50vh; 
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
} 
 
.text-container {
    flex: 1;
    width: 50%;
    background-color: #e0bbff; /* Cor de fundo para metade da página */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o texto verticalmente */
    align-items: center;
    padding: 200px;
}

.text {
    font-size: 30px;
    color: #445283;
    text-align: center;
    max-width: 400px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #895b9a;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
}

.btn:hover {
    background-color: #7a4b82;
}

@media screen and (max-width: 1020px) {
    .content {
        flex-direction: column;
    }
    
    .mobile {
        flex-direction: column; 
    }

    /* Esconde o menu tradicional no mobile */
    .menu {
        display: none;
    }

    .menu-mobile.abrir{
        visibility: visible;
        height: calc(100vh - 77px);
    }

    #btn-menu{
        display: block;
    }
}

/* About */

.container-about {
    width: 10000;
    display: flex;
    background-color: #e0bbff;
    padding: 48px;
	margin-left: 10px;
}

.text {
    flex: 1;
    font-size: 18px;
    color: #556098;
    text-align: justify;
    max-width: 600px;
	margin-left: 120px;
}

.image {
    width: 750px; /* Tamanho da imagem */
    height: 750px;
    margin-left: 100px; /* Espaçamento entre o texto e a imagem */
	margin-top: 5px;
	border: 50px;
	color: white;
}

/* Projects */

.projects {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



.item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item img {
    width: 80%;
    height: 40%;
    border-radius: 8px;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0;
    color: #4C7D66;
}

a {
    text-decoration: none;
    color: #C3545F;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/*-------------------------------------------------*/

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container1{ 
    max-width: 1080px;
    margin: 0 auto;
}

.logo{
    width: 25%;
}

.logo img{
    width: 200px;
    cursor: pointer;
}


/* estilização do conteúdo */

section{
    padding: 90px 4%;
    border-bottom: 1px solid #ccc;
}

section h2{
    font-size: 2em;
    margin-bottom: 25px;
}

section p{
    font-size: 20px;
}

#menu-mobile{
    background-color: #1111119f;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 77px;
    right: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    z-index: 1000;
    transition: 0.5s;
    overflow: hidden;
}

#menu-mobile nav a{
    display: block;
    color: #ffffff;
    padding: 20px 30px;
    font-size: 20px;
    text-decoration: none;
}

#menu-mobile nav a:hover{
    background-color: #383838;
}

#btn-menu,
#btn-menu-close{
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1110px) {
    .menu,
    .social{
        display: none;
    }

    .logo{
        width: 100%;
    }

    #btn-menu,
    #menu-mobile{
        display: block;
    }

    #menu-mobile.active{
        height: calc(100vh - 77px);
        visibility: visible;
    }
}

/*-------------------------------------------------------------------------------------*/
.contact-content {
    margin-top: 20px;
}

.btn-whatsapp {
    width: 800px;
    margin: 0 auto;
    display: inline-block;
    padding: 15px 30px;
    text-align: center; /* Centraliza o conteúdo */
    font-size: 18px;
    color: white;
    background-color: #25D366; /* Cor verde do WhatsApp */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-whatsapp:hover {
    background-color: #1ebe56; /* Cor ao passar o mouse */
}

