* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: #fbf3f3;
    margin: 0;
}

.nav {
    background-color: #425182;
    padding: 0px;
    display: flex;
    justify-content: flex-end; /* Move os itens de navegação para a direita */
    align-items: center;
}

.nav .a {
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-right: 70px;
}

.nav .a:hover {
    background-color: #895b9a;
}

.principal {
    color: white;
    margin-right: 450px; /* Move o título "Portifólio LIM" para a esquerda */
}


.content {
    display: flex;
    height: 100vh; /* Faz o conteúdo ocupar a altura total da página */
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza a imagem */
}

.img_home {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.text-container {
    flex: 1;
    background-color: #e0bbff; /* Cor de fundo para metade da página */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o texto verticalmente */
    align-items: center;
    padding: 20px;
}

.text {
    font-size: 22px;
    color: #445283;
    text-align: center;
    max-width: 600px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #895b9a;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
}

.btn:hover {
    background-color: #7a4b82;
}
